In [339]:
#Imports
import os
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
import numpy as np

In [340]:
#Set working directory
os.chdir('/Users/khangphamgia/Downloads')
#Load data
df_tax = pd.read_csv("/Users/khangphamgia/Downloads/Environmental_Taxes.csv")
#Drop multiple unncessary columns
df_tax = df_tax.drop(columns = ["ObjectId", "ISO2", "ISO3", "Source", "CTS Code", "CTS Name", "CTS Full Descriptor", "1995", "1996", "1997", "1998", "1999","2000", "2020", "2021"])
df_tax.head()

,Country,Indicator,Unit,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Albania,Environmental Taxes,Domestic Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.399314e+10,4.781379e+10,4.754858e+10,5.114559e+10,5.341565e+10
1,Albania,Environmental Taxes,Percent of GDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.067206e+00,3.247163e+00,3.066373e+00,3.124865e+00,3.157133e+00
2,Albania,Taxes on Energy (including fuel for transport),Domestic Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.774111e+10,4.094562e+10,4.040004e+10,4.352182e+10,4.516530e+10
3,Albania,Taxes on Energy (including fuel for transport),Percent of GDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.631314e+00,2.780726e+00,2.605369e+00,2.659072e+00,2.669496e+00
4,Albania,Taxes on Pollution,Domestic Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.782069e+09,1.879970e+09,1.941324e+09,2.226251e+09,2.625011e+09

In [341]:
# Select Environmental Taxes
df_tax = df_tax[df_tax['Indicator'] == 'Environmental Taxes']
# Search for unique countries
df_tax["Country"].unique()

array(['Albania', 'Andorra, Principality of', 'Antigua and Barbuda',
       'Argentina', 'Armenia, Rep. of', 'Australia', 'Austria',
       'Bahamas, The', 'Bangladesh', 'Belgium', 'Belize', 'Bhutan',
       'Bolivia', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile',
       'China, P.R.: Mainland', 'Colombia', 'Congo, Dem. Rep. of the',
       'Congo, Rep. of', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia, Rep. of', 'Cyprus', 'Czech Rep.', 'Denmark',
       'Dominican Rep.', 'Ecuador', 'Egypt, Arab Rep. of', 'El Salvador',
       'Equatorial Guinea, Rep. of', 'Estonia, Rep. of',
       'Eswatini, Kingdom of', 'Fiji, Rep. of', 'Finland', 'France',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guyana',
       'Honduras', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Kazakhstan, Rep. of', 'Kenya',
       'Korea, Rep. of', 'Kosovo, Rep. of', 'Kyrgyz Rep.', 'Latvia',
       'Lesotho, Kingdom of', 'Lithuania', 'Luxembourg',
       'Madagascar, Rep. of', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania, Islamic Rep. of', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Namibia', 'Nauru, Rep. of',
       'Netherlands, The', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia, Republic of ', 'Norway', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland, Rep. of', 'Portugal', 'Romania', 'Rwanda', 'Samoa',
       'San Marino, Rep. of', 'Senegal', 'Serbia, Rep. of', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovak Rep.', 'Slovenia, Rep. of',
       'Solomon Islands', 'South Africa', 'Spain', 'St. Kitts and Nevis',
       'St. Lucia', 'Sweden', 'Switzerland', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye, Rep. of', 'Uganda',
       'Ukraine', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela, Rep. Bolivariana de', 'Vietnam', 'West Bank and Gaza'],
      dtype=object)

In [342]:
print(df_tax)

                             Country            Indicator               Unit  \
0                            Albania  Environmental Taxes  Domestic Currency
1                            Albania  Environmental Taxes     Percent of GDP
10          Andorra, Principality of  Environmental Taxes  Domestic Currency
15               Antigua and Barbuda  Environmental Taxes  Domestic Currency
16               Antigua and Barbuda  Environmental Taxes     Percent of GDP
...                              ...                  ...                ...
1210  Venezuela, Rep. Bolivariana de  Environmental Taxes     Percent of GDP
1219                         Vietnam  Environmental Taxes  Domestic Currency
1220                         Vietnam  Environmental Taxes     Percent of GDP
1229              West Bank and Gaza  Environmental Taxes  Domestic Currency
1230              West Bank and Gaza  Environmental Taxes     Percent of GDP

             2001         2002          2003          2004          2005  \
0             NaN          NaN           NaN           NaN           NaN
1             NaN          NaN           NaN           NaN           NaN
10            NaN          NaN           NaN           NaN           NaN
15    19240000.00  19340000.00  1.884000e+07  2.004000e+07  1.974000e+07
16           0.89         0.88  8.200000e-01  8.100000e-01  7.200000e-01
...           ...          ...           ...           ...           ...
1210         5.49         3.85  2.060000e+00  1.410000e+00  1.550000e+00
1219          NaN          NaN  3.204000e+12  3.583000e+12  3.943000e+12
1220          NaN          NaN  5.200000e-01  5.000000e-01  4.300000e-01
1229          NaN          NaN           NaN           NaN           NaN
1230          NaN          NaN           NaN           NaN           NaN

              2006          2007  ...          2010          2011  \
0              NaN           NaN  ...           NaN           NaN
1              NaN           NaN  ...           NaN           NaN
10             NaN           NaN  ...           NaN           NaN
15    2.024000e+07  2.244000e+07  ...  1.957000e+07  7.720000e+06
16    6.500000e-01  6.300000e-01  ...  6.300000e-01  2.500000e-01
...            ...           ...  ...           ...           ...
1210  1.930000e+00  1.420000e+00  ...  1.260000e+00           NaN
1219  3.969000e+12  4.458000e+12  ...  1.052100e+13  1.120100e+13
1220  3.700000e-01  3.600000e-01  ...  3.800000e-01  3.200000e-01
1229           NaN           NaN  ...           NaN           NaN
1230           NaN           NaN  ...           NaN           NaN

              2012          2013          2014          2015          2016  \
0              NaN           NaN           NaN  4.399314e+10  4.781379e+10
1              NaN           NaN           NaN  3.067206e+00  3.247163e+00
10             NaN           NaN           NaN  4.600367e+12  4.616889e+12
15    8.670000e+06  2.322000e+07  7.900000e+06  1.330000e+07  9.060000e+06
16    2.700000e-01  7.300000e-01  2.300000e-01  3.700000e-01  2.300000e-01
...            ...           ...           ...           ...           ...
1210           NaN           NaN           NaN           NaN           NaN
1219  1.267600e+13  1.184900e+13  1.208700e+13  2.702000e+13  4.363200e+13
1220  3.100000e-01  2.700000e-01  2.500000e-01  5.200000e-01  7.700000e-01
1229           NaN           NaN           NaN  2.752039e+07  2.752039e+07
1230           NaN           NaN           NaN  5.067430e-02  4.651429e-02

              2017          2018          2019
0     4.754858e+10  5.114559e+10  5.341565e+10
1     3.066373e+00  3.124865e+00  3.157133e+00
10    5.043869e+12  5.283535e+12  5.675649e+12
15    1.246000e+07  1.365000e+07  1.312000e+07
16    3.100000e-01  3.200000e-01  2.900000e-01
...            ...           ...           ...
1210           NaN           NaN           NaN
1219  4.466600e+13  4.705000e+13  6.307460e+13
1220  7.100000e-01  6.700000e-01  8.200000e-01
1229  2.752039e+07  2.752039e+07  2.752039e+07
1230  4.740512e-02  4.709003e-02  4.506160e-02

[250 rows x 22 columns]

In [343]:
# Step 1: Melt the dataframe to reshape year columns into rows
df_melted = df_tax.melt(id_vars=['Country', 'Indicator', 'Unit'], var_name='Year', value_name='Value')

# Step 2: Convert the Year column to numeric
df_melted['Year'] = pd.to_numeric(df_melted['Year'], errors='coerce')

# Step 3: Pivot the dataframe to get the required format
df_pivot = df_melted.pivot_table(
    index=['Country', 'Year'],
    columns=['Unit'],
    values='Value',
    aggfunc='first'  # Avoid duplicates
).reset_index()

# Step 4: Rename columns for clarity
df_pivot.columns.name = None  # Remove multi-index column name
df_pivot.rename(columns={
    'Percent of GDP': 'Environmental Taxes (% of GDP)',
    'Domestic Currency': 'Environmental Taxes (Domestic Currency)'
}, inplace=True)

# Step 5: Create a full range of countries and years
all_countries = df_pivot['Country'].unique()  # Get all unique countries
all_years = list(range(2000, 2021))  # Define the desired range of years

# Create a full dataframe with all combinations of countries and years
full_index = pd.MultiIndex.from_product([all_countries, all_years], names=['Country', 'Year'])
df_full = pd.DataFrame(index=full_index).reset_index()

# Merge the full dataframe with the existing data
df_main = pd.merge(df_full, df_pivot, on=['Country', 'Year'], how='left')

# Step 6: Fill missing values with NaN or placeholders if necessary
df_main['Environmental Taxes (% of GDP)'] = df_main['Environmental Taxes (% of GDP)'].fillna(np.nan)
df_main['Environmental Taxes (Domestic Currency)'] = df_main['Environmental Taxes (Domestic Currency)'].fillna(np.nan)

# Final dataframe
print(df_main)

#Export to excel 
df_main.to_excel("Environmental_Taxes_Cleaned.xlsx", index=False)

                 Country  Year  Environmental Taxes (Domestic Currency)  \
0                Albania  2000                                      NaN
1                Albania  2001                                      NaN
2                Albania  2002                                      NaN
3                Albania  2003                                      NaN
4                Albania  2004                                      NaN
...                  ...   ...                                      ...
2641  West Bank and Gaza  2016                             2.752039e+07
2642  West Bank and Gaza  2017                             2.752039e+07
2643  West Bank and Gaza  2018                             2.752039e+07
2644  West Bank and Gaza  2019                             2.752039e+07
2645  West Bank and Gaza  2020                                      NaN

      Environmental Taxes (% of GDP)
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
2641                        0.046514
2642                        0.047405
2643                        0.047090
2644                        0.045062
2645                             NaN

[2646 rows x 4 columns]

In [344]:
# Run summary statistics for each country
summary_stats = df_main.groupby('Country').agg({
    'Environmental Taxes (% of GDP)': ['mean', 'median', 'std', 'min', 'max', 'count'],
    'Environmental Taxes (Domestic Currency)': ['mean', 'median', 'std', 'min', 'max', 'count']
}).reset_index()
print(summary_stats)

                            Country Environmental Taxes (% of GDP)            \
                                                              mean    median
0                           Albania                       3.132548  3.124865
1          Andorra, Principality of                            NaN       NaN
2               Antigua and Barbuda                       0.537895  0.630000
3                         Argentina                       1.234211  1.220000
4                  Armenia, Rep. of                       1.034888  1.049627
..                              ...                            ...       ...
121                   United States                       0.791067  0.752718
122                         Uruguay                       1.674216  1.670845
123  Venezuela, Rep. Bolivariana de                       2.177000  1.640000
124                         Vietnam                       0.469412  0.430000
125              West Bank and Gaza                       0.047349  0.047090

                                         \
          std       min       max count
0    0.074914  3.066373  3.247163     5
1         NaN       NaN       NaN     0
2    0.240661  0.230000  0.890000    19
3    0.123752  1.080000  1.510000    19
4    0.180843  0.828610  1.246560     5
..        ...       ...       ...   ...
121  0.068700  0.724978  0.916104    19
122  0.041787  1.622053  1.723939     5
123  1.401198  1.070000  5.490000    10
124  0.180502  0.250000  0.820000    17
125  0.002065  0.045062  0.050674     5

    Environmental Taxes (Domestic Currency)                              \
                                       mean        median           std
0                              4.878335e+10  4.781379e+10  3.621091e+09
1                              5.044062e+12  5.043869e+12  4.570535e+11
2                              1.634158e+07  1.884000e+07  5.408759e+06
3                              5.067030e+10  1.948508e+10  6.483678e+10
4                              5.934819e+10  5.840640e+10  1.693248e+10
..                                      ...           ...           ...
121                            1.211700e+11  1.145293e+11  1.706508e+10
122                            3.115041e+10  3.175495e+10  4.162639e+09
123                            6.624933e+09  5.959520e+09  3.448206e+09
124                            1.861251e+13  1.120100e+13  1.902316e+13
125                            2.752039e+07  2.752039e+07  0.000000e+00


              min           max count
0    4.399314e+10  5.341565e+10     5
1    4.600367e+12  5.675649e+12     5
2    7.720000e+06  2.453000e+07    19
3    4.407160e+09  2.355188e+11    19
4    4.198811e+10  8.156645e+10     5
..            ...           ...   ...
121  9.670710e+10  1.550071e+11    19
122  2.565351e+10  3.606900e+10     5
123  2.767800e+09  1.279776e+10    10
124  3.204000e+12  6.307460e+13    17
125  2.752039e+07  2.752039e+07     5

[126 rows x 13 columns]

In [345]:
#Create a column for value count of each country for 2 variables in the original dataframe
df_main['count'] = df_main.groupby('Country')['Environmental Taxes (% of GDP)'].transform('count')
#Drop countries with less than 10 observations
df_main = df_main[df_main['count'] >= 10]
#Drop the count column
df_main = df_main.drop(columns = ['count'])
#Print the new dataframe
df_main["Country"].unique()

array(['Antigua and Barbuda', 'Argentina', 'Australia', 'Austria',
       'Bahamas, The', 'Bangladesh', 'Belgium', 'Belize', 'Bolivia',
       'Bulgaria', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Chad',
       'China, P.R.: Mainland', 'Congo, Dem. Rep. of the',
       'Congo, Rep. of', 'Costa Rica', 'Croatia, Rep. of', 'Cyprus',
       'Czech Rep.', "Côte d'Ivoire", 'Denmark', 'Ecuador',
       'Egypt, Arab Rep. of', 'Estonia, Rep. of', 'Eswatini, Kingdom of',
       'Fiji, Rep. of', 'Finland', 'France', 'Germany', 'Ghana', 'Greece',
       'Guyana', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Jamaica',
       'Japan', 'Kenya', 'Korea, Rep. of', 'Kyrgyz Rep.', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania, Islamic Rep. of', 'Mauritius', 'Mexico', 'Mongolia',
       'Morocco', 'Namibia', 'Netherlands, The', 'Nicaragua', 'Niger',
       'Nigeria', 'Norway', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland, Rep. of', 'Portugal', 'Romania',
       'Rwanda', 'Serbia, Rep. of', 'Seychelles', 'Sierra Leone',
       'Slovak Rep.', 'Slovenia, Rep. of', 'Solomon Islands',
       'South Africa', 'St. Lucia', 'Sweden', 'Switzerland', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye, Rep. of', 'Uganda',
       'United Kingdom', 'United States',
       'Venezuela, Rep. Bolivariana de', 'Vietnam'], dtype=object)

In [346]:
import pandas as pd

# List of countries
countries = [
    'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria',
    'Bahamas, The', 'Bangladesh', 'Belgium', 'Belize', 'Bolivia',
    'Bulgaria', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Chad',
    'China, P.R.: Mainland', 'Congo, Dem. Rep. of the',
    'Congo, Rep. of', 'Costa Rica', 'Croatia, Rep. of', 'Cyprus',
    'Czech Rep.', "Côte d'Ivoire", 'Denmark', 'Ecuador',
    'Egypt, Arab Rep. of', 'Estonia, Rep. of', 'Eswatini, Kingdom of',
    'Fiji, Rep. of', 'Finland', 'France', 'Germany', 'Ghana', 'Greece',
    'Guyana', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Jamaica',
    'Japan', 'Kenya', 'Korea, Rep. of', 'Kyrgyz Rep.', 'Latvia',
    'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives', 'Mali', 'Malta',
    'Mauritania, Islamic Rep. of', 'Mauritius', 'Mexico', 'Mongolia',
    'Morocco', 'Namibia', 'Netherlands, The', 'Nicaragua', 'Niger',
    'Nigeria', 'Norway', 'Panama', 'Papua New Guinea', 'Paraguay',
    'Peru', 'Philippines', 'Poland, Rep. of', 'Portugal', 'Romania',
    'Rwanda', 'Serbia, Rep. of', 'Seychelles', 'Sierra Leone',
    'Slovak Rep.', 'Slovenia, Rep. of', 'Solomon Islands',
    'South Africa', 'St. Lucia', 'Sweden', 'Switzerland', 'Togo',
    'Trinidad and Tobago', 'Tunisia', 'Türkiye, Rep. of', 'Uganda',
    'United Kingdom', 'United States',
    'Venezuela, Rep. Bolivariana de', 'Vietnam'
]

# Country-region mapping
region_mapping = {
    'North America': ['Antigua and Barbuda', 'Bahamas, The', 'Belize', 'Canada', 'Costa Rica', 'Jamaica', 
                      'Mexico', 'Panama', 'St. Lucia', 'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 
                      'Peru', 'Suriname', 'Uruguay', 'Venezuela, Rep. Bolivariana de'],
    'Europe': ['Austria', 'Belgium', 'Bulgaria', 'Croatia, Rep. of', 'Cyprus', 'Czech Rep.', 'Denmark', 
               'Estonia, Rep. of', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 
               'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands, The', 'Norway', 'Poland, Rep. of', 
               'Portugal', 'Romania', 'Serbia, Rep. of', 'Slovak Rep.', 'Slovenia, Rep. of', 'Spain', 'Sweden', 
               'Switzerland', 'United Kingdom'],
    'Asia': ['Bangladesh', 'Cambodia', 'China, P.R.: Mainland', 'India', 'Japan', 'Korea, Rep. of', 'Kyrgyz Rep.', 
             'Malaysia', 'Maldives', 'Mongolia', 'Philippines', 'Singapore', 'Thailand', 'Vietnam'],
    'Africa': ['Cameroon', 'Cabo Verde', 'Chad', 'Congo, Dem. Rep. of the', 'Congo, Rep. of', 
               'Egypt, Arab Rep. of', 'Eswatini, Kingdom of', 'Ghana', 'Kenya', 'Mali', 'Mauritania, Islamic Rep. of', 
               'Mauritius', 'Morocco', 'Namibia', 'Nigeria', 'Rwanda', 'Seychelles', 'Sierra Leone', 'South Africa', 
               'Togo', 'Tunisia', 'Uganda'],
    'Oceania': ['Australia', 'Fiji, Rep. of', 'Papua New Guinea', 'Solomon Islands'],
}

df_main['Region'] = df_main['Country'].map({country: region for region, countries in region_mapping.items() for country in countries})
df_main.head()

,Country,Year,Environmental Taxes (Domestic Currency),Environmental Taxes (% of GDP),Region
42,Antigua and Barbuda,2000,NaN,NaN,North America
43,Antigua and Barbuda,2001,19240000.0,0.89,North America
44,Antigua and Barbuda,2002,19340000.0,0.88,North America
45,Antigua and Barbuda,2003,18840000.0,0.82,North America
46,Antigua and Barbuda,2004,20040000.0,0.81,North America